

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.nav-item  li a:hover {
    color: #626766 !important;
}


.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #e59cbc;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}
